/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --nebula: #e1aefe;
  --green: #40ff82;
  --white: #fff;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 0.2em .5em;
  background-color: var(--nebula);
  z-index: 99;
}

header img {
  width: 7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.m-1 {
  margin: 1em 0;
  z-index: 3;
}

.mb-2 {
  margin-bottom: 2em;
}

.p-1 {
  padding: 1em;
}

.txt-sm {
  font-size: .75em;
}

.txt-lg {
  font-size: 1.1rem;
  font-weight: 800;
}

#tsparticles canvas {
  background-color: transparent !important;
}

.nebula {
  color: var(--nebula);
}
.green {
  color: var(--green);
}

img.brand {
  width: clamp(300px, 50vw, 600px);
  height: auto;
}

.cta {
  border-radius: 3px;
  padding: 0.75em;
  margin: 0 auto;
  background-color: #40ff82;
  color: #000f35;
  margin: 1em auto;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  color: var(--white);
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-image: url("/app/assets/bg/bg-full.jpg");
  background-position: bottom;
  background-size: contain;
  overflow-x: hidden;
}

header img {
  position: relative;
  vertical-align: middle;
  width: 7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#tsparticles canvas {
  background-color: transparent !important;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 1.5em;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(15,23,60, 0.3);
}

ul.nav-steps {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
}
  
ul.nav-steps li {
  color: #fff;
  vertical-align: middle;
  border: 2px solid #40ff82;
  border-radius: 50%;
  padding: 0.75rem;
  margin: 0 .35rem;
  background-color: #11132a;
}
ul.nav-steps li:has(a.active) {
  background-color: #40ff82;
}

ul.nav-steps li a {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.5rem;
  color: #fff;
  text-decoration: none;
}
  
hr {
  rotate: 90deg;
  border-color: #e1e1e1;
}

.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: visible;
  scroll-margin-top: 25px;
}

.gamesGrid img {
  width: clamp(300px, 100%, 600px);
  height: auto;
  opacity: 0;
}
.gamesGrid img.slideInleft {
  -webkit-animation: slideInLeft 1s forwards linear;
          animation: slideInLeft 1s forwards linear;
}

.jackpot-flex {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jackpot-flex img {
  max-width: 150px;
  height: auto;
  margin-bottom: 1em;
}

.jpt-txt {
  border: 1px solid white;
  line-height: .5em;
  padding: 0 0 0.5em 0;
  border-radius: 5px;
  background-color: #181b45;
}

.jpt-txt span {
  font-size: .65rem;
  color: var(--nebula);
  top: -8px;
  position: relative;
  padding: 0 6px;
  background-color: #181b45;
}
.jpt-txt p {
  font-weight: 600;
  padding: 0.25em 0;
}

.chevron {
  margin-top: 5em;
}

.scroll-down img {
  margin-top: 2em;
  rotate: 90deg;
  position: absolute;
  right: 1em;
  z-index: 4;
}

.scroll-down img.first {
  position: relative;
  right: 0;
}

.scroll-up img {
    position: relative;
    rotate: -90deg;
    bottom: -2em;
}

.offer {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  line-height: initial;
  -webkit-animation: pulse 2s infinite ease-in-out;
          animation: pulse 2s infinite linear;
}

.offer-heading {
  font-size: 2.5rem;
  color: var(--white);
}

.offer-copy {
  font-size: 1.9rem;
  margin: 0.5em 0;
}

.offer-copy,
.offer-copy + p {
  position: relative;
  z-index: 5;
}

.planet {
  position: absolute;
  z-index: 2;
}

.planet-one {
  right: -19em;
  bottom: -13em;
  background: url("app/assets/Planets/Earth.webp") no-repeat;
  background-size: contain;
  width: 500px;
  height: 500px;
  -webkit-animation: rotateClockwise 120s infinite forwards linear;
          animation: rotateClockwise 120s infinite forwards linear;
}

.planet-two {
  left: -12em;
  bottom: -5em;
  background: url("app/assets/Planets/Venus.webp") no-repeat;
  background-size: contain;
  width: 350px;
  height: 350px;
  -webkit-animation: rotateAntiClockwise 120s infinite forwards linear;
          animation: rotateAntiClockwise 120s infinite forwards linear;
}

.planet-three {
  right: -5em;
  background: url("app/assets/Planets/Purple.webp") no-repeat;
  background-size: contain;
  width: 275px;
  height: 275px;
  -webkit-animation: rotateAntiClockwise 120s infinite forwards linear;
          animation: rotateAntiClockwise 120s infinite forwards linear;
}

.planet-four {
  left: -7em;
  top: 16em;
  background: url("app/assets/Planets/Mars.webp") no-repeat;
  background-size: contain;
  width: 600px;
  height: 600px;
  -webkit-animation: rotateClockwise 120s infinite forwards linear;
          animation: rotateClockwise 120s infinite forwards linear;
}

.steps {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  padding:  1em;
  -webkit-animation: bgColor 1s .5s forwards linear;
          animation: bgColor 1s .5s forwards linear;
}

.steps + a {
  display: none;
}

.steps div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.step-copy {
  width: 190px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step-copy a {
  text-decoration: none;
  color: #fff;
}
.step-copy p:first-child {
  font-weight: 600;
}

span.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
  width: 2em;
  height: 2em;
  min-width: 2em;
  max-width: 2em;
  background-color: #40ff82;
  color: #131835;
  font-weight: 600;
  border-radius: 5px;
}

.steps {
  text-align: left;
}

.steps.animate div:nth-of-type(1) {
  -webkit-animation: slideInLeft 1s .5s forwards linear;
          animation: slideInLeft 1s .5s forwards linear;
}
.steps.animate div:nth-of-type(2) {
  -webkit-animation: slideInLeft 1s 1s forwards linear;
          animation: slideInLeft 1s 1s forwards linear;
}
.steps.animate div:nth-of-type(3) {
  -webkit-animation: slideInLeft 1s 1.5s forwards linear;
          animation: slideInLeft 1s 1.5s forwards linear;
}

.promos img {
  width: 100%;
  margin: 0.25em 0;
  border: 2px solid white;
}

/***************************************
  MEDIA QUERIES
***************************************/

@media screen and (min-width: 768px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1em;
    padding: 1em;
    -webkit-animation: bgColor 1s 1s forwards linear;
            animation: bgColor 1s 1s forwards linear;
    /* max-width: 900px; */
    margin: 2em auto;
    text-align: left;
  }
  .steps + a {
    display: block;
  }
  .planet-one {
    width: 750px;
    height: 750px;
  }
  .planet-two {
    width: 600px;
    height: 600px;
    bottom: -12em;
    left: -16em;
  }
  .planet-three {
    width: 500px;
    height: 500px;
  }
  .planet-four {
    width: 1000px;
    height: 1000px;
    left: auto;
    bottom: -17em;
    top: initial;
  }
  .scroll-down img {
    margin-top: 2em;
  }
  .wrapper {
    background-size: cover;
  }
  .cta {
    padding: 1em;
    margin: 0 auto;
    margin: 1em auto;
    font-size: 1em;
  }
  .promos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promos img {
    width: 50%;
    margin:  0 0.25em;
  }
  .offer-copy {
    font-size: 2.5rem;
  }
  .jackpot-flex img {
    max-width: 300px;
  }
  span.step {
    margin: 0 1em;
    width: 3em;
    height: 3em;
    min-width: 3em;
    max-width: 3em;
  }
}

@media screen and (min-width: 1919px) {
  .offer-copy {
    font-size: 5rem;
  }
  header img {
    width: 10rem;
  }
  .steps div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem;
    line-height: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* animation: slideInLeft; */
    opacity: 0;
  }
  .planet-one {
    width: 900px;
    height: 900px;
  }
  .planet-two {
    top: -25em;
    width: 800px;
    height: 800px;
  }
  .planet-three {
    top: -10em;
    width: 900px;
    height: 900px;
  }
  .planet-four {
    left: calc(50% - 18%);
    bottom: -30em;
    width: 950px;
    height: 950px;
  }
  .scroll-down img {
    margin-top: 2em;
  }
  img.slide3 {
    margin-top: -3em;
  }
}

/***************************************
  ANIMATIONS
***************************************/
@-webkit-keyframes rotateClockwise {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateClockwise {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateAntiClockwise {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateAntiClockwise {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5em);
            transform: translateX(5em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5em);
            transform: translateX(5em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes bgColor {
  0% {
    opacity: 0;
    background-color: rgba(100, 100, 100, .5);
  }
  100% {
    opacity: 1;
    background-color: rgba(100, 100, 100, .5);
  }
}

@keyframes bgColor {
  0% {
    opacity: 0;
    background-color: rgba(100, 100, 100, .5);
  }
  100% {
    opacity: 1;
    background-color: rgba(100, 100, 100, .5);
  }
}